# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
supabase
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#https://gitdiagram.com/virtiparekh/cash-book - for flow chart of any repo
#https://www.gitreverse.com/virtiparekh/cash-book - for prompt of any repo
#https://www.uithub.com/virtiparekh/cash-book - for complete file structure of any repo
#https://www.github1s.com/virtiparekh/cash-book - it will open the repo in vs code format project
